# ======================
# Backend (Node.js)
# ======================
node_modules/
.env
package-lock.json
*.log

# ======================
# Frontend (React/Vite)
# ======================
dist/
.temp/
.cache/
.DS_Store

# ======================
# IDE/Editor
# ======================
.vscode/
.idea/